* {box-sizing: border-box;
    padding: 0;
    margin: 0;

}
body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    /* line-height: 1.5; */
    color: #333;

}
/* nav {
    background-color: gray;
    color: white;
} */
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
nav ul li {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 15px;
    list-style-type: none;
}
.container{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    
    /*
    grid-template-columns: repeat(auto-dill, minmax(200px, 1fr)
    this says that once the size of the container reaches 200 px the items will wrap by */
}

.card{
    /* height: 20em; */
    background-color: gray;
    color: white;
    padding: 10px;
    border: #333 1px solid;
    overflow: auto;
    /* we can use align-self */
}
.card-img{
    height: 40rem;
    width: 25rem;
}
.card-title{
    font-size: larger;
    margin-bottom: 5px;
}
.card-info{
    font-size:small ;
}


@media screen and (max-width: 960px) {
    .container{
        grid-template-columns: 1fr 1fr;
    }
} 
 @media screen and (max-width: 500px) {
    .container{
        grid-template-columns: 1fr;
    }
} 
